#header
  #header-left
    #menu
      %ul
        %li
          %a{:href => url("/")} Dashboard
        %li
          %a{:href => url("/reports")} Scans
        %li
          %a{:href => url("/hosts")} Hosts
        %li
          %a{:href => url("/items")} Items
        %li
          %a{:href => url("/plugins")} Plugins        
  #header-right
    %a{:href => url("/")} Risu
