<html>
	<head>
		<title><% @findings.title %></title>
	</head>
	
	<body>
		<p><center>Technical Summary</center></p>
		<p><center>Critical and High Findings</center></p>
		<p>&nsbp;</p>
		<p>This report was prepared by <% @findings.author %></p>
		
		<p></p>
		
	</body>
</html>